body{   
    background-color:rgb(168, 173, 178);
}

#Menu {
    width:100%;
    height: 90px;
    background-color: white;
}
#Menu a{
    margin-right: 20px;
    margin-left: 20px;
}

#Menu img{
    height: 60PX;
    margin-left: 60PX;
}
.part1 {
    font-style: italic;
    text-align: center;
}
.part1 img{
    width: 80%;
    filter: contrast(2);
}
.part1 h1{
    margin-top: 1em;
    color:rgb(142, 40, 40);
    font-size:xx-large;
    
}

.part1 p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(142, 40, 40);
    border-style:solid;
    border-color: rgb(142, 40, 40);
}

.linkMenu{
    color:red;
    font-size: 2em;
}

h1{
    color: red;
    margin-top: 2em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Pessoa {
    text-align:center;
}

#Pessoa img{
    width: 300px;
    border-style:double;   
}

#Dados {
    margin-top: 10PX;
    margin-left: 10PX;
    font-style:inherit;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 80px;
}

#Dados input{
    width: 200px;
    height: 30px;
    margin-top: 30px;
}
#BTM {
    margin-top: 70px;
    width: 90px;
    height: 35px;
}